{{! Citation for the following file:
Date: 2021
Adapted from CS 340 Starter code:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Browse and Manage Spice Silos</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <a href="/" class="header-link"></a>
      <h1>Browse and Manage Spice Silos</h1>
    </a>
  </header>
  <nav class="nav-links">
    <a href="/orders" class="nav-button">Orders</a>
    <a href="/customers" class="nav-button">Customers</a>
    <a href="/shipments" class="nav-button">Shipments</a>
    <a href="/spice_silos" class="nav-button">Spice Silos</a>
    <a href="/harvesters" class="nav-button">Harvesters</a>
  </nav>

  <section>
    <h2>Existing Spice Silos</h2>
    <table border="1" id="Spice-silos-table">
      <thead>
        <tr>
          <th>Silo ID</th>
          <th>City</th>
          <th>Spice Capacity</th>
          <th>Spice Quantity</th>
          <th>Last Inspection Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr data-value="{{this.silo_id}}">
          <td>{{this.silo_id}}</td>
          <td>{{this.city}}</td>
          <td>{{this.spice_capacity}}</td>
          <td>{{this.spice_quantity}}</td>
          <td>{{this.last_inspection_date}}</td>
          <td>
            <button onclick="editSpiceSilo({{this.silo_id}})">Edit</button>
            <button onclick="deleteSpiceSilo({{this.silo_id}})">Delete</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>

  <section>
    <h2>Add New Spice Silo</h2>
    <form id="add-spice-silo-form-ajax">
      <label for="input-city">City:</label>
      <input type="text" id="input-city" name="city" required><br><br>
      
      <label for="input-spice-capacity">Spice Capacity:</label>
      <input type="number" id="input-spice-capacity" name="spice_capacity" step="any" required><br><br>
      
      <label for="input-spice-quantity">Spice Quantity:</label>
      <input type="number" id="input-spice-quantity" name="spice_quantity" step="any" required><br><br>
      
      <label for="input-last-inspection-date">Last Inspection Date:</label>
      <input type="date" id="input-last-inspection-date" name="last_inspection_date"><br><br>
      
      <button type="submit">Add Silo</button>
    </form>
  </section>

  <section>
    <h2>Update Spice Silo Information</h2>
    <p>Select a spice silo to edit and update its details.</p>
    <form id="update-spice-silo-form-ajax">

      <input type="hidden" id="silo-id-update" name="silo-id">

      <label for="input-city-update">City:</label>
      <input type="text" id="input-city-update" name="city" required><br><br>
      
      <label for="input-spice-capacity-update">Spice Capacity:</label>
      <input type="number" id="input-spice-capacity-update" name="spice_capacity" step="any" required><br><br>
      
      <label for="input-spice-quantity-update">Spice Quantity:</label>
      <input type="number" id="input-spice-quantity-update" name="spice_quantity" step="any" required><br><br>
      
      <label for="input-last-inspection-date-update">Last Inspection Date:</label>
      <input type="date" id="input-last-inspection-date-update" name="last_inspection_date"><br><br>
      
      
      <button type="submit">Update Spice Silo</button>

    </form>
  </section>

  <script src="./js/spice_silos/add_spice_silo.js"></script>
  <script src="./js/spice_silos/update_spice_silo.js"></script>
  <script src="./js/spice_silos/delete_spice_silo.js"></script>
  
</body>
</html>